#header {
    font-family: "DynaPuff" !important;
}

.dynapyff{
    font-family: "DynaPuff" !important;
    
}



.dynapuff{
    font-family: "DynaPuff" !important;

}
main {
    font-family: "Josefin Sans" !important;
}
.sans {
    font-family: "Josefin Sans" !important;

}
.wave-font {
    font-family: "Wavefont" !important;
    /* color: #464db4 */
}
#info-bar {
    /* display: none !important; */
}