body {
    /* min-width: 1180px; */
}
#header {
    font-family: "DynaPuff" !important;
}

.dynapyff{
    font-family: "DynaPuff" !important;
    
}



.dynapuff{
    font-family: "DynaPuff" !important;

}
main {
    font-family: "Josefin Sans" !important;
}
.sans {
    font-family: "Josefin Sans" !important;

}
.mono {
    font-family: monospace;
}
.wave-font {
    font-family: "Wavefont" !important;
    /* color: #464db4 */
}
#info-bar {
    /* display: none !important; */
}

#about-me {
    
}

#about-me:hover {
    animation: bring-to-front 0.5s ease-out forwards;
}

#hobbies {
    height: 10px;
    max-height: 210px !important;
    overflow-y: hidden;
    display: none;
    /* width: 1px !important; */
}

#hover-here {
    animation: move 2s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    } 
    50% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes bring-to-front {
    50% {
        z-index: 1;
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
        z-index: 99;
    }
}